name: Pull dockerhub 

on:
  push:
    branches: [ "main" ]
    
env:
        DCREPOSITORY: alifbank/gpt-translator-service
        IMAGE_TAG: '${{ github.sha }}'
        TELEGRAM_BOT_TOKEN: ${{ secrets.OPENAI_API_KEY }}         
       

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      


    - name: DockerHub login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
          
    - name: Build, tag, and push image to DockerHub
      run: |
        docker build -t $DCREPOSITORY:$IMAGE_TAG .
        docker push $DCREPOSITORY:$IMAGE_TAG 
    - name: Export it to gitops
      run: |
        export FULL_IMAGE_PATH=$DCREPOSITORY:$IMAGE_TAG
        sed -i "s|\(^\s*image:\s*\).*|\1$FULL_IMAGE_PATH|g" gitops/dev/deployment.yaml 
        cat gitops/dev/deployment.yaml
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "gitops"
        #git checkout -b deploy-dev
        git push -f --set-upstream origin deploy-dev 
